*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.images{
    display: flex;
    gap:10px;
    height: 60vh; /* reduced height to avoid overlap */
    flex-wrap: wrap;
    justify-content: center;
}

.image{ 
   flex:2;
}
.image img {
    width:100%;
    height:100%;
    max-height:700px;
    object-fit:cover;
}

@media (max-width: 900px) {
  .images { height: 45vh; }
  .image img { max-height: 500px; }
}


