 *{
    margin: 0%;
    padding:0%;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    
}

.logo{
    font-size: 50px;
    color:white;
}

.links{
        padding-right: 50px;
        text-decoration:none;
        font-size: 20px;
        padding: 10px 30px;
        border-radius: 7px;
        color: bisque;
        

}

.links a{
    margin-right: 60px;
    text-decoration: none;
    color: white;
}
.links a:hover{
    color: gold;
}